*{font-family: 'Jua', sans-serif; margin:0px; padding : 0px;  color: black; text-decoration: none; list-style : none; box-sizing: border-box;}
.nav{
    overflow: hidden;
    padding: 0 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    background-color: rgb(255, 125, 39,0.92);
    z-index: 9999;
}
.nav > h1{
    width: 64px; 
}
.nav > h1 > a {
    color: white;
}
.nav > h1 > a > img{
    width: 150%;
}
.nav > .nav-left{
    width: 150%;
    padding-left: 100px;
}
.nav > .nav-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav > .nav-right > li{
    margin-left: 50px;
    font-size: 21px;
}
.nav > ul > li{
    height: 65px;
}
.nav > ul > li > a{
    display: block;
    color: white;
    line-height: 100px;
    height: 100%;
    width: 100%;
}
.nav > ul > li > div{
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all 0.1s linear;
    margin-left: 50%;
}
.nav > ul > li:hover > div{
    width: 100%;
    height: 3px;
    margin-left: 0;
    background-color: white;
}
section{height: 100%;padding-top: 100px;}
section>div{display: flex; width: 100%; height: 100vh; justify-content: space-between;}

section>div>div.a {width: 30%;}
section>div>div.b {width: 69.5%; padding-left: 5px; border-left: 3px solid lightsalmon;}
section>div>div.a>div{text-align: end;}
section>div>div.a>div>button{color: gray; cursor: pointer; border: none; background-color: transparent; height: 50px; margin-top: 10px; font-size: 30px; align-items: center; justify-content: end;}
section>div>div.a>div>button>i{color: gray; padding-right: 5px;}
section>div>div.a>div.shoplist>div{display: flex; width: 90%; border-bottom: 1px solid gray; margin: 5px 0; padding: 10px 0;}
section>div>div.a>div.shoplist>div>a{display: flex;  margin: 0; width: 100%; padding: 5px;}
section>div>div.a>div.shoplist>div>a>div.img{width: 40%; padding-right: 10px;}
section>div>div.a>div.shoplist>div>a>div>img{width: 100%; height: 140px; }
section>div>div.a>div.shoplist>div>a>div.text{width: 60%; height: 140px; overflow: hidden;}
section>div>div.a>div.shoplist>div>a>div.text>div{display: flex; height: 25%;}
section>div>div.a>div.shoplist>div>a>div.text>div>p.name{width: 70%; font-size: 25px; height: 30px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
section>div>div.a>div.shoplist>div>a>div.text>div>p.star{width: 30%; color: rgb(255, 125, 39,0.92); font-size: 25px;}
section>div>div.a>div.shoplist>div>a>div.text>p.name1{padding-bottom: 30px; color: rgba(128, 128, 128, 0.6); height: 15%;}
section>div>div.a>div.shoplist>div>a>div.text>p.name1>span{color: rgba(128, 128, 128, 0.8);}
section>div>div.a>div.shoplist>div>a>div.text>div:last-child{height: 45%; width: 100%; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow: hidden;}

.modal_wrap{
    display: none;
    width: 550px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:lightgray;
    z-index: 3;
    padding: 20px;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 2;
}
.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;  
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}
/* 위치값 잡아주기 */
.region_select{display: flex; justify-content: center; align-items: center; border: 1px solid black;}
fieldset > div > div > .region1 > a{ color: black;}
.region1{border: 1px solid black; border-bottom: 0; padding: 5px 3px;}
.button_box{border: 1px solid black; display: flex; justify-content: center; align-items: center;  text-align: center;}
.button_box > button{margin: 20px; padding: 10px 15px; border: none; border-radius: 10px; background-color:lightblue; cursor: pointer;}
.modal_wrap > div {text-align: center;}

