
.main{   
    width: 100%;
}
.nav{
	margin: 0;
	margin-bottom:10px;
    overflow: hidden;
    padding: 0 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(255, 125, 39,0.92);
    z-index: 9999;
}

.nav > h1{
    width: 64px; 
}
.nav > h1 > a {
    color: white;
}
.nav > h1 > a > img{
    width: 150%;
}

.nav > .nav-right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav > .nav-right > li{
    margin-left: 50px;
    font-size: 21px;
}

.nav > ul > li{
    height: 65px;
}

.nav > ul > li > a{
    display: block;
    color: white;
    line-height: 100px;
    height: 100%;
    width: 100%;
}

.nav > ul > li > div{
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all 0.1s linear;
    margin-left: 50%;
}

.nav > ul > li:hover > div{
    width: 100%;
    height: 3px;
    margin-left: 0;
    background-color: white;
}